.question-box{
    height: 45px;
    width: 50px;
    background-color: #c0c0c0;
    padding: 10px;
    border-radius: 6px;
    margin: 10px;
    cursor: pointer;
}
.btn{
    margin:10px;
}

.marked{
    background-color: #441A86;
}

.noanswer{
    background-color: #E84600;
}
.answered{
    background-color: #2DBD00;
}

.border-right{
    border-right: solid 1px #ddd;
    margin-right: 30px;
}
.table-custom{
    border-bottom: solid 1px #dddddd;
    margin-bottom: 50px;
}

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    max-width: 400px;
    margin: 0 auto;
}
li{
    width: 50%;
    display: inline-block;
    padding: 10px;
    text-align: left;
    margin-bottom: 5px;
}